<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_is_digital_marketing.jpg" style="width:45%;" class="w3-round"><br><br>
    <h4><b>Blog Management</b></h4>
    
  </div>
  <div class="w3-bar-block">
    {% if user.is_staff or user.is_superuser %}
    <a href="/add/"  class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>AddPost</a>
    
    {% endif %}
    {% if user.is_staff %} 
    <a href="/regular_user/"  class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>YourPost</a> 
    {% endif %}
   
    <a href="/profile/"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>Profile</a> 
    <a href="/forget-password/"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-pencil fa-fw w3-margin-right"></i>Change Password</a> 
    {% if user.is_superuser %}
    <a href="/assign_permissions/"  class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-bars fa-fw w3-margin-right"></i>Assign Permission</a>
    
    {% endif %}
    <a href="/logout/"  class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>Logout</a>
  </div>
  <div class="w3-panel w3-large">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Popular Blog Posts</b></h1>
   
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <!-- for admin section  -->
  <div class="w3-row-padding">
    {% if user.is_authenticated and user.is_staff and user.is_superuser %}
    {% for posts in data %}

    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/{{posts.image}}" alt="pic" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{posts.title}}</b></p>
        <p>{{posts.content|truncatechars:45}}</p><a href="/know/{{posts.id}}" claas="btn btn-primary">Know more</a></p>
        <a type="button" href="/likes/{{posts.id}}/" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
        <a type="button" href="/likes/{{posts.id}}/" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-down"></i>  Dislike</a> 
        <a type="button" href="/comments/{{posts.id}}/" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a> 
   
        <!-- <a href="delete/{{posts.id}}" class="btn btn-danger">Delete</a>  <a href="edit/{{posts.id}}" class="btn btn-success">Edit</a> -->
        
        <p></p>
      </div>

    </div>
    {% endfor %}
    <!-- for regular user -->
    {% elif user.is_staff %}
     {% for posts in data %}
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/{{posts.image}}" alt="empty" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{posts.title}}</b></p>
        <p>{{posts.content|truncatechars:45}}</p><a href="/know/{{posts.id}}" claas="btn btn-primary">Know more</a></p>
        <a type="button" href="/likes/{{posts.id}}/" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
        <a type="button" href="/likes/{{posts.id}}/" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-down"></i>  Disike</a> 
        <a type="button" href="/comments/{{posts.id}}/" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a> 
   
        <!-- <a href="delete/{{posts.id}}" class="btn btn-danger">Delete</a>  <a href="edit/{{posts.id}}" class="btn btn-success">Edit</a> -->

        <p></p>
      </div>

    </div>
    {% endfor %}
     <!-- for anonymous users -->
  {% else %}

    {% for posts in data %}
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/{{posts.image}}" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>{{posts.title}}</b></p>
        <p>{{posts.content|truncatechars:45}}</p><a href="/know/{{posts.id}}" claas="btn btn-primary">Know more</a></p>
        <a type="button" href="/likes/{{posts.id}}/" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</a> 
        <a type="button" href="/comments/{{posts.id}}/" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</a> 
   
        <!-- <a href="delete/{{posts.id}}" class="btn btn-danger">Delete</a>  <a href="edit/{{posts.id}}" class="btn btn-success">Edit</a> -->

        <p></p>
      </div>

    </div>
    {% endfor %}
    {% endif %}


  </div> 
  <br><br>
  <hr> 
  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

  

  
  
 

  <!-- Footer -->
  <footer class="" >
    {% comment %} <ul class="nav justify-content-center border-bottom"  style="margin-top: 60px;">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="admin/" class="nav-link px-2 text-muted">Admin</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul> {% endcomment %}
    
  </footer> 
  
  <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">GANGESH</a></div>

<!-- End page content -->




</body>
</html>
