{% extends 'base.html' %}
{% block content %}

<div class="mt-5">
<form class="col-6 mt-5 mx-auto card p-5 shadow-lg" method="POST" >
  {% csrf_token %}
  <h3 class="col-5  mx-auto">Forget-Password</h3>
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    </div>
    {% endfor %}
  {% endif %}
  <div class="form-group">
    <div class="col-2 mt-5 mx-auto">
    <label for="exampleInputEmail1" >User name</label>
    </div>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="enter your email" name="title">
  </div>
  <button class="btn btn-success">submit</a>
</form>
</div>


{% endblock %}