{% extends 'base1.html' %}
{% block content %}
    <h1 class="col-3 mx-auto">Sign up</h1>
    <div class="col-3 mx-auto">
      {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
             {{message}}
            </div>
          {% endfor %}
      {% endif %}
      </div>
    <form  class=" card p-4 shadow-lg" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="exampleInputEmail1">First Name</label>
        <input type="text" name="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your FirstName" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Last Name</label>
        <input type="text" name="lastname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your LastName" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter UserName" required>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password1" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Re confirm Password</label>
        <input type="password" class="form-control" name="password2" id="exampleInputPassword1" placeholder="Password" required>
      </div>
      
      <button type="submit" class="btn btn-primary">Register</button>
      <p>Already have an account?<a href="/">Sign in</a></p>
    </form>

{% endblock %}